body {
    font-family: 'Comfortaa', cursive;
    background-color: #A197FE;
    color: #ffffff;
    font-size: 2vh;
}

.btn {
    color: #ffffff;
    text-decoration: none;
    border: 0px solid;
    background-color: #FE97B0;
    border-radius: 3px;
    padding: 1.5vh 5vw;
    font-size: 3vh;
}

.center-text {
    text-align: center;
    font-size: 3vh;
}

.container {
    text-align: center;
    margin-top: 10vh;
}

.ancho {
    width: 60vw;
    display:block;
    margin: auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.title img {
    height: 4vh;
    margin-left: 1.5vh;
}